<html lang='en'>
<head>
  <title>A blog built by 11ty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Inter', sans-serif;
      max-width: 700px;
      margin: auto;
      padding: 1em;
    }
  </style>
</head>
<body>
  
  <header>
    <nav>
      <span>A sample blog</span>
      <a href='/'>Home</a>
      <div class="row">
      <ul>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
    </ul>
      </div>
      <div class="row">
       Website Title here
      </div>
    </nav>
     <ul>
     {% for post in collections.post reversed %} 
     <li>
     <a href="">
      {{ post.data.title }}
     </a>
   </li>
    {% endfor %} 
    </ul>
</header>

<div class="row">
  <article>

    <p>Content paragraphs go here.</p>
<main>
    {{content}}
</main>
   </article>

<footer>
      <div class="row">
    Copyright goes here.
      Author: Makzan
        </div>
</footer>

  



</footer>
  

</body>
</html>
